a.cv { padding: 8px 15px; border: 1px solid lightgray; border-radius: 3px; font-size: 1.4em; font-weight: 300; letter-spacing: 1px; color: #6c6c6c; }
a.cv i { margin-left: 10px; font-size: 20px; }
a.cv:hover { color: lightgray; background: gray; border: 1px solid gray; }